*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg{
    background: url("../卡片/image/04.jpeg");
    position: absolute;
    background-size: 100%;
    top: -30px;
    left: -30px;
    width:calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px); 
}

.loading-text{
    font-size: 50px;
    color: rgb(192, 29, 29);
}